[Unit]
Description=e-Navigation AtoN Admin Service
After=syslog.target

[Service]
ExecStart=/opt/e-nav/atonAdminService/atonAdminService.jar

[Install]
WantedBy=multi-user.target